@import url('https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:wght@400;500;600;700;800&display=swap');

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

body {
  margin: 0;
  color: #212529;
}

a{
  color: #02838d !important;
}

a:hover{
  color: #353535 !important;
}


*{
  font-family: madefor-text, helveticaneuew01-45ligh, helveticaneuew02-45ligh, helveticaneuew10-45ligh, sans-serif;
  color: #231f20;
  margin: 0;
  padding: 0;
  /*line-height: 1.8;*/
  font-size: 18px;
}

nav{
  background-color: black !important;
}

nav *{
  color: #fff !important;
  font-size: 17px;
  font-weight: 700;
}

.logo{
  font-weight: 900 !important;
  font-size: 20px !important;
}

.land{
  background-color: #0D3235;
  background-image: url('../images/bg.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.land *{
  color: white;
}

.no{
  font-size: 13px;
  display: none;
}

.b9{ font-weight: 900; }
.b8{ font-weight: 800; }
.b7{ font-weight: 700; }
.b6{ font-weight: 600; }
.b5{ font-weight: 500; }

.chip{
  background-color: #F0533B;
}

.high{
  width: 285px;
  height: 285px;
  border-radius: 50%;
  border: 5px solid #B8C350;
}

.light{
  color: #ffffff90 !important;
}

.album{
  width: 270px;
  height: 270px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.act{
  background-color: #81B9BF;
}


.glow{
  background-color: white;
  border-radius: 4px;
  height: max-content;
  overflow-x: hidden;
}

.move{
  background-color: ;
}

.glow, .glow *{
  color: #333333 !important;
}

.darker{ color: #333333 !important; }
.pink{ color: #e74e84 !important; }

.lighter, .titlez{
  font-weight: 700;
  font-size: 17px;
  color: #333333;
}

.list-chip{
  background-color: white;
  margin: 0;
  border-radius: 7px;
  font-weight: 500;
  display: flex;
  padding: 0;
}

.smoky{
  /*background-color: #FBF5ED;*/
}

.hill{
  background-image: url('../images/paint.svg');
  background-color: #3F4079;
  background-position: center;
  background-repeat: repeat;
}

.hill *{
  color: white;
}

p{
  color: #0c0d0e;
  line-height: 1.75em;
}

footer{
  background-color: #f5f5f5;
}

footer *{
  font-size: 15px;
  color: #333333;
}

footer .up{
  border-top: 1px solid #EDEDED;
}

.bold, .bolder{
  font-weight: 700;
}


.cardic .im{
  height: 170px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cardic .desc{
  color: #fe5f55 !important;
  font-size: 14px !important;
}

.bread{
  background-color: #1B75D0;
  color: white;
  border-radius: 10px;
  width: max-content;
  font-size: 14px;
}

.project{
  background-image: url('../images/image_1.jpg');
}

.project, .project2{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.project2{
  background-image: url('../images/image_3.jpg');
}

.modal{
  height: max-content;
}

.modal *{
  color: #555555;
}

.any{
  height: 100px;
  width: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}